.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.scrolled {
    background: rgba(15, 15, 26, 0.8);
    backdrop-filter: blur(10px);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logoText {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
}

.logoSub {
    display: none;
    color: #aaa;
}

@media (min-width: 640px) {
    .logoSub {
        display: inline;
    }
}

.desktopMenu {
    display: none;
    list-style: none;
    gap: 2.5rem;
}

@media (min-width: 640px) {
    .desktopMenu {
        display: flex;
    }
}

.menuItem {
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

.menuItem a {
    color: #aaa;
}

.menuItem:hover a,
.active a {
    color: #fff;
}

.mobileMenu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 640px) {
    .mobileMenu {
        display: none;
    }
}

.mobileDropdown {
    position: absolute;
    top: 5rem;
    right: 0;
    margin: 1rem;
    min-width: 140px;
    z-index: 10;
    border-radius: 1rem;
    background: linear-gradient(145deg, #232323, #161616);
    /* Dark Gradient */
    padding: 1rem;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.mobileList {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.mobileList li {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.mobileList a {
    color: #aaa;
}

.mobileList li:hover a,
.active a {
    color: #fff;
}